@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@100;200;300;400;500;600&display=swap');

.bg-color-name-title {
    background-color: #676767;
} 
 .heading{
    margin-left: 50px;
 }

header {
    margin:0;
}

.logo {
    background: url("../images/my-pro-image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.name {
    font-family: "Ralway", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Indie+Flower", sans-serif;
    font-size: 28px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}